*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #9cbbfd;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#corpoCalculadora{
    padding: 25px;
    width: 100%;
    max-width: 400px;
    background-color: #2a2a2a;
    border-radius: 20px;
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.386);
}

#tela{
    position: relative;
}

#equacao{
    position: absolute;
    top: 1px;
    right: 10px;

    color: #797979;
}

#display{
    width: 100%;
    box-sizing: border-box;
    padding: 30px 10px 10px;
    height: 90px;
    text-align: right;
    font-size: 4rem;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 10px;
}

.teclado {
    margin-top: 20px;
    height: 499.31px;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
    gap: 15px; 
    grid-template-areas: 
      "limpar voltar dividir multiplicar"
      "sete oito nove menos"
      "quatro cinco seis mais"
      "um dois tres igual"
      "zero zero ponto igual"; 
}

.limpar { 
    grid-area: limpar; 
    
    background-color: #ff3b3b;
    color: #f0f0f0;

}
.voltar { 
    grid-area: voltar; 

    background-color: #a9a9a9;
    color: #f0f0f0;
}
.dividir { grid-area: dividir; }
.multiplicar { grid-area: multiplicar; }
.sete { grid-area: sete; }
.oito { grid-area: oito; }
.nove { grid-area: nove; }
.menos { grid-area: menos; }
.quatro { grid-area: quatro; }
.cinco { grid-area: cinco; }
.seis { grid-area: seis; }
.mais { grid-area: mais; }
.um { grid-area: um; }
.dois { grid-area: dois; }
.tres { grid-area: tres; }

.igual { 
    grid-area: igual;

    background-color: #00bf00;
    color: #f0f0f0;
}
.zero {grid-area: zero;}
.ponto {grid-area: ponto;}



.btn{
    border-radius: 10px;
    font-size: 3rem;
    border: none;
    outline: none;
    transition: all 0.2s ease;
    cursor: pointer;
}

.btn:active{
    transform: scale(0.930);
}

.operadores{
    background-color: #ffa600;
    color: #f0f0f0;
}